<form [formGroup]="userForm" (ngSubmit)="processUserForm()">
    <div class="mb-3">
        <label for="firstname" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstname" formControlName="firstname">
    </div>
    <div class="row">
        <span class="alert alert-danger" *ngIf="userForm.get('firstname')?.errors?.['required']">
            First Name is mandatory
        </span>
        <span class="alert alert-danger" *ngIf="userForm.get('firstname')?.errors?.['minlength']">
            First Name min length is 5 chars
        </span>
        <span class="alert alert-danger" *ngIf="userForm.get('firstname')?.errors?.['maxlength']">
            First Name max length is 50 chars
        </span>
    </div>


    <div class="mb-3">
        <label for="lastname" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastname" formControlName="lastname">
    </div>
    <div class="row">
        <span class="alert alert-danger" *ngIf="userForm.get('lastname')?.hasError('required')">
            Last Name is mandatory
        </span>
        <span class="alert alert-danger" *ngIf="userForm.get('lastname')?.hasError('minlength')">
            Last Name min length is 5 chars
        </span>
        <span class="alert alert-danger" *ngIf="userForm.get('lastname')?.hasError('maxlength')">
            Last Name max length is 50 chars
        </span>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>  
    </div>
    <div class="row">
        <span class="alert alert-danger" *ngIf="userForm.get('email')?.errors?.['required']">
            Email is mandatory.
        </span>
        <span class="alert alert-danger" *ngIf="userForm.get('email')?.errors?.['email']">
            Please input a valid Email format.
        </span>
        <span class="alert alert-danger" *ngIf="userForm.get('email')?.errors?.['nonWhiteSpace']">
            White space found in Email entry.
        </span>
    </div>

    <br><br>

    <div class="row mb-3">
        <div class="col mb-3">
            <button class="btn btn-primary" type="button" (click)="addNewFood()">Add New Favourite Food</button>
        </div>
    </div>
    <div class="row" formArrayName="foods">
        <table>
            <thead>
                <tr>
                    <td>Food Name</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let food of foodArray.controls; let i=index;" [formGroupName]="i"> <!-- need to use formGroupName as we are defining a sub form group -->
                    <!-- [formGroup]="food1" => this does not work. -->
                    <td>
                        <input type="text" class="form-control" formControlName="f1">
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" (click)="deleteFood(i)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>